Don't remove space from invalid address

If I have this in the email:
```
From: <foo bar@example.com>
```
then `$message->getHeaderValue('from')` just removes the blank and returns `foobar@example.com`.

Thunderbird displays it as `"foo bar"@example.com`.

However, php-mime-mail-parser's [`$parser->getAddresses('from')[0]['address']`](https://github.com/php-mime-mail-parser/php-mime-mail-parser/blob/release-6.0.0/src/Parser.php#L455) keeps it as-is: `foo bar@example.com`, and I would say this is the most "correct" behavior in this case: Just keep it invalid, and don't try to "sanitize" it...

Just found another similar example:
```
From: <"]123"@example.com>
```
you're returning: `]123@example.com`, while php-mime-mail-parser keeps the quotation marks: `"]123"@example.com`

> However, php-mime-mail-parser's...

Still not relevant to my project, no matter how many times you bring it up.  I support what the RFC says **first**.  Not what you say is most correct, or what php-mime-mail-parser does.

As the address is invalid (section 3.4 of RFC 5322), how does it affect you that I interpret it differently, and what reason is there to change it?

I'm probably not "specifically" removing a space (maybe I am, the code would have to be analyzed), but more likely I'm just trying to parse out parts to be able to handle weird things in the spec, like that comments could appear there (section 3.2.2, although the Address Specification says they "shouldn't", for historical reasons an email address like z(me)bateson@example.com is actually the address "zbateson@example.com") and within comments quoted-strings can appear, and so forth.

> you're returning: ]123@example.com, while php-mime-mail-parser 

Still not a gauge... *yawn*.

If instead you're question is "why are you doing something", well again, because the specs say I should in section-3.2.4... and if you're trying to review this project, you'll need to read the specs first... it's more relevant that what any individual project does.

>    A quoted-string is treated as a unit.  That is, quoted-string is
>    identical to atom, semantically.  Since a quoted-string is allowed to
>    contain FWS, folding is permitted.  Also note that since quoted-pair
>    is allowed in a quoted-string, the quote and backslash characters may
>    appear in a quoted-string so long as they appear as a quoted-pair.
> 
>    Semantically, **_neither the optional CFWS outside of the quote
>    characters nor the quote characters themselves are part of the
>    quoted-string; the quoted-string is what is contained between the two
>    quote characters_**.  As stated earlier, the "\" in any quoted-pair and
>    the CRLF in any FWS/CFWS that appears within the quoted-string are
>    semantically "invisible" and therefore not part of the quoted-string
>    either.


First of all (in case anybody else reads this): I guess that `z(me)bateson@example.com` is not a valid email address in itself! However, if you write it *in an email header,* the RFC demands that the parentheses (and their content) are treated as a comment and be removed, thereby producing a valid address.

I keep mentioning php-mime-mail-parser mainly for other people who might run into the same "issue". For the users of your library, php-mime-mail-parser is a possible alternative (Thunderbird isn't), and I think it's interesting to see in which details it offers a different approach (not to say "solution", cause there is no real/final solution in most things I'm reporting ;-)  
Also I do agree in principle with your philosophy to follow the specs. And it does work in practice for me in way more than 99% of all emails. The remaining <1% are the ones I keep bothering you with :-)

Back on topic: The answer that you're not going to change this is OK for me; so I'm closing the issue :-)

Thanks @ThomasLandauer --

I get your point about php-mime-maile-parser -- I guess your comments could be useful to others.  I end up reading it like you're expecting my library to function the same, so maybe just a "me" issue.  My point though is to check on the specs as well, because if/when you notice a difference like that, the specs should be the main source :)

FYI, I created an "issue template" for new issues, but feel free to submit PRs against it if it's too restrictive/annoying -- I meant it to guide new issues, not to be a crutch... but since you've created more issues than anyone, you could also help guide that process if it doesn't work out.

> like you're expecting my library to function the same

No!! If I want php-mime-maile-parser, I can take php-mime-maile-parser! ;-)

You know what "annoys" me about the PHP community? It's great that there are 10 libraries for everything! But this makes it really hard to find the "right" one. Naturally, every author "praises" their own library - so looking at the `README`s is like having the choice between "superb" and "excellent" ;-)

So I've already thought about publishing my findings somewhere. But I can't think neither of the right platform, nor the right format. So I'm (mis)using the Issues of you both to unsystematically tell the world what about the differences I'm observing ;-)

Issue template: I personally think that's too formal, considering the low number of issues you're getting (besides mine ;-) But that's up to you - I don't know how much time "bad" reports take you!

> You know what "annoys" me about the PHP community? It's great that there are 10 libraries for everything! But this makes it really hard to find the "right" one. Naturally, every author "praises" their own library - so looking at the READMEs is like having the choice between "superb" and "excellent" ;-)

Hahaha but is that specific to PHP though?  That's definitely true though...

> So I've already thought about publishing my findings somewhere. But I can't think neither of the right platform, nor the right format. So I'm (mis)using the Issues of you both to unsystematically tell the world what about the differences I'm observing ;-)

I see -- yeah, I'm reading it as in, "this is an issue I found that should be fixed".  I don't know where the right venue for those differences would be either.

> Issue template: I personally think that's too formal, considering the low number of issues you're getting (besides mine ;-) But that's up to you - I don't know how much time "bad" reports take you!

I've been thinking of doing it for a while -- most reported issues don't include basic information so I guess it wastes a little time.  Investigating takes me quite a bit of time though, especially if I need to dig through the RFCs.  Many parts of this are pretty old now, like address header parsing was mostly written in 2015, and really hasn't changed much since... and my memory's just not good enough to know without checking whether or not I did something correctly.

But yeah, you're probably right that it's overkill.  I guess I'll take it out for now, and if I get this many new issues sustained for a month or two I'll put it back in :)

> and if I get this many new issues sustained for a month or two

I hope I'm done by then. So you probably won't get any issues at all ;-)

BTW: The very best issue system I've seen so far is https://github.com/phpstan/phpstan/issues/new?template=Bug_report.md Online editor at https://phpstan.org/ allows for super-easy reproduction!  
In your case: Paste the email, then select the function to be called on it (e.g. `->getTextContent()`), then show the output below. Side effect: You could ditch the entire `README`, cause that would show it all!  
Mentioning this just in case you have too much time ;-)

Looks good and easy, thanks -- I'll probably do something along those lines :+1: :smile: 


> for historical reasons an email address like `z(me)bateson@example.com` is actually the address `zbateson@example.com` and is valid

Just stumbled over https://html.spec.whatwg.org/multipage/input.html#valid-e-mail-address and it reminded me about our discussions here :-)
Not even the HTML5 standard at whatwg.org cares about such "comments" inside email addresses; they're just calling that a "willful violation of RFC 5322" :-)

Very interesting -- in my case though I'm not interested in 'validating for correctness', but 'catching what is valid' according to the rfc at least.  It's not that I secretly think email addresses with comments make any sense, they obviously don't... but given that it's valid, when parsing what MMP considers 'an email address', I'd rather take that weirdness into account.